@font-face {
    font-family: 'BriosoProI';
    font-display: swap;
    src: local('BriosoProI'),
        url('../fonts/BriosoProI--italic.woff2') format('woff2'),
        url('../fonts/BriosoProI--italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'DynaGroteskLM';
    font-display: swap;
    src: local('DynaGroteskLM'),
        url('../fonts/DynaGroteskLM-Bold.woff2') format('woff2'),
        url('../fonts/DynaGroteskLM-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto--italic.woff2') format('woff2'),
        url('../fonts/Roboto--italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Bold-italic.woff2') format('woff2'),
        url('../fonts/Roboto-Bold-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Black-italic.woff2') format('woff2'),
        url('../fonts/Roboto-Black-italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Light-italic.woff2') format('woff2'),
        url('../fonts/Roboto-Light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Medium-italic.woff2') format('woff2'),
        url('../fonts/Roboto-Medium-italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Thin-italic.woff2') format('woff2'),
        url('../fonts/Roboto-Thin-italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
