doctype html
html(lang="en")
    include html/head
    body 
        include html/header
        main
            h1 Привет Мир!
            span
                img(src="@img/example.jpg", alt="example image")
        include html/footer
